<a href="https://colab.research.google.com/github/036takashima/python_ds/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#lec14

In [ ]:
import pandas as pd
from pandas import Series

In [ ]:
obj = Series([3,6,9,12])

In [ ]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [ ]:
obj.values

array([ 3,  6,  9, 12])

In [ ]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index=['USSR','Germany','China','Japan','USA'])

In [ ]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [ ]:
ww2_cas['USA']

400000

In [ ]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [ ]:
ww2_cas>4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [ ]:
'USSR' in ww2_cas

True

In [ ]:
ww2_dict = ww2_cas.to_dict()

In [ ]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [ ]:
ww2_Series = Series(ww2_dict)

In [ ]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [ ]:
countries = {'China','Germany', 'Japan', 'USA', 'USSR','Argentina'}

In [ ]:
obj2 = Series(ww2_dict, index = countries)

In [ ]:
obj2

Germany      4300000.0
Japan        2100000.0
China        3000000.0
Argentina          NaN
USSR         8700000.0
USA           400000.0
dtype: float64

In [ ]:
pd.isnull(obj2)

Germany      False
Japan        False
China        False
Argentina     True
USSR         False
USA          False
dtype: bool

In [ ]:
pd.notnull(obj2)

Germany       True
Japan         True
China         True
Argentina    False
USSR          True
USA           True
dtype: bool

In [ ]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [ ]:
obj2

Germany      4300000.0
Japan        2100000.0
China        3000000.0
Argentina          NaN
USSR         8700000.0
USA           400000.0
dtype: float64

In [ ]:
ww2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [ ]:
obj2.name = '第二次世界大戦の死傷者'

In [ ]:
obj2

Germany      4300000.0
Japan        2100000.0
China        3000000.0
Argentina          NaN
USSR         8700000.0
USA           400000.0
Name: 第二次世界大戦の死傷者, dtype: float64

In [ ]:
obj2.index.name = 'Countries'

In [ ]:
obj2

Countries
Germany      4300000.0
Japan        2100000.0
China        3000000.0
Argentina          NaN
USSR         8700000.0
USA           400000.0
Name: 第二次世界大戦の死傷者, dtype: float64

#lec15

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
nfl_frame = pd.read_clipboard()

PyperclipException: ignored

#lec16

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
my_ser = Series([1,2,3,4], index=['A','B','C','D'])

In [10]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [11]:
my_index = my_ser.index

In [12]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
my_index[0]

'A'

In [14]:
my_index[2]

'C'

In [15]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [16]:
my_index[0] = 'Z'

TypeError: ignored

#lec17

In [17]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [18]:
ser1 = Series([1,2,3,4], index=['A','B', 'C','D'])

In [19]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [20]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [21]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [22]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [23]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [24]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [25]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [26]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [31]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3','col4', 'col5'])

In [32]:
dframe

       col1      col2      col3      col4      col5
A -0.929995  0.900848 -1.369617  0.487489 -0.341568
B  0.648762  0.310861  1.171444  2.271913 -0.343989
D -0.182193  0.753609 -0.008285  1.659036 -0.177561
E -0.356544  0.707581  1.568622  0.733875 -0.944443
F  0.502295  0.065065  1.184804  0.847165 -0.878163

In [33]:
new_index = ['A', 'B', 'C', 'D', 'E', 'F']
dframe2 = dframe.reindex(new_index)

In [34]:
dframe2

       col1      col2      col3      col4      col5
A -0.929995  0.900848 -1.369617  0.487489 -0.341568
B  0.648762  0.310861  1.171444  2.271913 -0.343989
C       NaN       NaN       NaN       NaN       NaN
D -0.182193  0.753609 -0.008285  1.659036 -0.177561
E -0.356544  0.707581  1.568622  0.733875 -0.944443
F  0.502295  0.065065  1.184804  0.847165 -0.878163

In [36]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.929995  0.900848 -1.369617  0.487489 -0.341568   NaN
B  0.648762  0.310861  1.171444  2.271913 -0.343989   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.182193  0.753609 -0.008285  1.659036 -0.177561   NaN
E -0.356544  0.707581  1.568622  0.733875 -0.944443   NaN
F  0.502295  0.065065  1.184804  0.847165 -0.878163   NaN

In [37]:
dframe

       col1      col2      col3      col4      col5
A -0.929995  0.900848 -1.369617  0.487489 -0.341568
B  0.648762  0.310861  1.171444  2.271913 -0.343989
D -0.182193  0.753609 -0.008285  1.659036 -0.177561
E -0.356544  0.707581  1.568622  0.733875 -0.944443
F  0.502295  0.065065  1.184804  0.847165 -0.878163

In [38]:
dframe.ix[new_index, new_columns]

AttributeError: ignored

In [ ]:
dframe.ix