<a href="https://colab.research.google.com/github/036takashima/python_ds/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#lec14

In [ ]:
import pandas as pd
from pandas import Series

In [ ]:
obj = Series([3,6,9,12])

In [ ]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [ ]:
obj.values

array([ 3,  6,  9, 12])

In [ ]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index=['USSR','Germany','China','Japan','USA'])

In [ ]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [ ]:
ww2_cas['USA']

400000

In [ ]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [ ]:
ww2_cas>4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [ ]:
'USSR' in ww2_cas

True

In [ ]:
ww2_dict = ww2_cas.to_dict()

In [ ]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [ ]:
ww2_Series = Series(ww2_dict)

In [ ]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [ ]:
countries = {'China','Germany', 'Japan', 'USA', 'USSR','Argentina'}

In [ ]:
obj2 = Series(ww2_dict, index = countries)

In [ ]:
obj2

Germany      4300000.0
Japan        2100000.0
China        3000000.0
Argentina          NaN
USSR         8700000.0
USA           400000.0
dtype: float64

In [ ]:
pd.isnull(obj2)

Germany      False
Japan        False
China        False
Argentina     True
USSR         False
USA          False
dtype: bool

In [ ]:
pd.notnull(obj2)

Germany       True
Japan         True
China         True
Argentina    False
USSR          True
USA           True
dtype: bool

In [ ]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [ ]:
obj2

Germany      4300000.0
Japan        2100000.0
China        3000000.0
Argentina          NaN
USSR         8700000.0
USA           400000.0
dtype: float64

In [ ]:
ww2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [ ]:
obj2.name = '第二次世界大戦の死傷者'

In [ ]:
obj2

Germany      4300000.0
Japan        2100000.0
China        3000000.0
Argentina          NaN
USSR         8700000.0
USA           400000.0
Name: 第二次世界大戦の死傷者, dtype: float64

In [ ]:
obj2.index.name = 'Countries'

In [ ]:
obj2

Countries
Germany      4300000.0
Japan        2100000.0
China        3000000.0
Argentina          NaN
USSR         8700000.0
USA           400000.0
Name: 第二次世界大戦の死傷者, dtype: float64

#lec15

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
nfl_frame = pd.read_clipboard()

PyperclipException: ignored

太字#lec16

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
my_ser = Series([1,2,3,4], index=['A','B','C','D'])

In [ ]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
my_index = my_ser.index

In [ ]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
my_index[0]

'A'

In [ ]:
my_index[2]

'C'

In [ ]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [ ]:
my_index[0] = 'Z'

TypeError: ignored

#lec17

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [ ]:
ser1 = Series([1,2,3,4], index=['A','B', 'C','D'])

In [ ]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [ ]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [ ]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [ ]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [ ]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [ ]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [ ]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [ ]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3','col4', 'col5'])

In [ ]:
dframe

       col1      col2      col3      col4      col5
A -0.929995  0.900848 -1.369617  0.487489 -0.341568
B  0.648762  0.310861  1.171444  2.271913 -0.343989
D -0.182193  0.753609 -0.008285  1.659036 -0.177561
E -0.356544  0.707581  1.568622  0.733875 -0.944443
F  0.502295  0.065065  1.184804  0.847165 -0.878163

In [ ]:
new_index = ['A', 'B', 'C', 'D', 'E', 'F']
dframe2 = dframe.reindex(new_index)

In [ ]:
dframe2

       col1      col2      col3      col4      col5
A -0.929995  0.900848 -1.369617  0.487489 -0.341568
B  0.648762  0.310861  1.171444  2.271913 -0.343989
C       NaN       NaN       NaN       NaN       NaN
D -0.182193  0.753609 -0.008285  1.659036 -0.177561
E -0.356544  0.707581  1.568622  0.733875 -0.944443
F  0.502295  0.065065  1.184804  0.847165 -0.878163

In [ ]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.929995  0.900848 -1.369617  0.487489 -0.341568   NaN
B  0.648762  0.310861  1.171444  2.271913 -0.343989   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.182193  0.753609 -0.008285  1.659036 -0.177561   NaN
E -0.356544  0.707581  1.568622  0.733875 -0.944443   NaN
F  0.502295  0.065065  1.184804  0.847165 -0.878163   NaN

In [ ]:
dframe

       col1      col2      col3      col4      col5
A -0.929995  0.900848 -1.369617  0.487489 -0.341568
B  0.648762  0.310861  1.171444  2.271913 -0.343989
D -0.182193  0.753609 -0.008285  1.659036 -0.177561
E -0.356544  0.707581  1.568622  0.733875 -0.944443
F  0.502295  0.065065  1.184804  0.847165 -0.878163

In [ ]:
dframe.ix[new_index, new_columns]

AttributeError: ignored

In [ ]:
dframe.ix

# lec18

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
ser1 = Series(np.arange(3), index=['a','b','c'])

In [ ]:
ser1

a    0
b    1
c    2
dtype: int64

In [ ]:
ser1.drop('b')

a    0
c    2
dtype: int64

In [ ]:
ser1

a    0
b    1
c    2
dtype: int64

In [ ]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)), index=['SF','LA', 'NY'], columns=['pop','size','year'])

In [ ]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [ ]:
dframe1.drop('LA', axis=0)

    pop  size  year
SF    0     1     2
NY    6     7     8

In [ ]:
dframe1.drop('year', axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7

# lec19

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
ser1 = Series(np.arange(3), index=['A', 'B', 'C'])

In [ ]:
ser1 = 2*ser1

In [ ]:
ser1

A    0
B    2
C    4
dtype: int64

In [ ]:
ser1['B']

2

In [ ]:
ser1[1]

2

In [ ]:
ser1[0:3]

A    0
B    2
C    4
dtype: int64

In [ ]:
ser1.B

2

In [ ]:
ser1[['A', 'B']]

A    0
B    2
dtype: int64

In [ ]:
ser1[ser1>3]

C    4
dtype: int64

In [ ]:
ser1[ser1>3]=10

In [ ]:
ser1

A     0
B     2
C    10
dtype: int64

In [ ]:
dframe = DataFrame(np.arange(25).reshape((5,5)), index=['NYC','LA','SF','DC','Chi'], columns=['A','B','C', 'D','E'])

In [ ]:
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [ ]:
dframe['B']

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int64

In [ ]:
dframe.B

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int64

In [ ]:
dframe[['B','C']]

      B   C
NYC   1   2
LA    6   7
SF   11  12
DC   16  17
Chi  21  22

In [ ]:
dframe[dframe['C']>8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [ ]:
dframe>10

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [ ]:
dframe.idx['LA']

AttributeError: ignored

# lec20

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series([0,1,2],index=['A','B','C'])

In [3]:
ser1

A    0
B    1
C    2
dtype: int64

In [4]:
ser2 = Series([3,4,5,6],index=['A','B','C','D'])

In [5]:
ser2

A    3
B    4
C    5
D    6
dtype: int64

In [6]:
ser1+ser2

A    3.0
B    5.0
C    7.0
D    NaN
dtype: float64

In [7]:
dframe1 = DataFrame(np.arange(4).reshape((2,2)), columns=list('AB'), index=['NYC','LA'])

In [8]:
dframe1

     A  B
NYC  0  1
LA   2  3

In [12]:
dframe2 = DataFrame(np.arange(9).reshape((3,3)), columns=list('ADC'), index={'NYC','SF','LA'})

In [13]:
dframe2

     A  D  C
SF   0  1  2
NYC  3  4  5
LA   6  7  8

In [14]:
dframe1+dframe2

       A   B   C   D
LA   8.0 NaN NaN NaN
NYC  3.0 NaN NaN NaN
SF   NaN NaN NaN NaN

In [15]:
dframe1.add(dframe2,fill_value=0)

       A    B    C    D
LA   8.0  3.0  8.0  7.0
NYC  3.0  1.0  5.0  4.0
SF   0.0  NaN  2.0  1.0

In [16]:
dframe2

     A  D  C
SF   0  1  2
NYC  3  4  5
LA   6  7  8

In [18]:
ser3 = dframe2.ix[0]

AttributeError: ignored

# lec21

In [19]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [20]:
ser1 = Series(range(3), index=['C', 'A', 'B'])

In [21]:
ser1

C    0
A    1
B    2
dtype: int64

In [22]:
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [23]:
ser1

C    0
A    1
B    2
dtype: int64

In [24]:
ser1.order()

AttributeError: ignored

In [26]:
from numpy.random import randn

In [27]:
ser2 = Series(randn(10))

In [28]:
ser2

0    0.463605
1    0.874322
2    0.696437
3    0.716118
4    0.210654
5    0.919569
6    2.112587
7    0.147992
8   -1.901450
9    0.576556
dtype: float64

In [29]:
ser2.rank()

0     4.0
1     8.0
2     6.0
3     7.0
4     3.0
5     9.0
6    10.0
7     2.0
8     1.0
9     5.0
dtype: float64

In [30]:
ser2.sort()

AttributeError: ignored

In [31]:
ser2.rank()

0     4.0
1     8.0
2     6.0
3     7.0
4     3.0
5     9.0
6    10.0
7     2.0
8     1.0
9     5.0
dtype: float64